*{
    padding: 0;
    margin: 0;
}

input, textarea{ 
    display: block;
    margin: 15px auto;
}

textarea{
    height: 80px;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06ab3;
    padding-top: 20px;
}